@import "src/styles/variables.scss";

.how-we-work-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    margin-bottom: 0;
  }
  h3 {
    text-align: center;
    margin: $spacing-5 0 0 0;
    font-family: "Outfit SemiBold";
    font-size: $font-size-5;
    color: $color-purple;
  }
  i {
    font-size: $font-size-5;
    font-family: "Outfit Light";
  }

  p {
    max-width: 50ch;
    font-size: $font-size-4;
    text-align: center;
    margin: 0;
  }

  .item {
    max-width: 45ch;
    margin-top: $spacing-7;
  }

  .qoute {
    margin-top: $spacing-4;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .how-we-work-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      text-align: start;
    }

    p {
      max-width: 50ch;
      margin-bottom: $spacing-3;
      font-size: $font-size-1;
      font-family: "Outfit Light";
      text-align: start;
    }
  }
}
